apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm.fullname" . }}
  labels:
    app: {{ include "helm.name" . }}
spec:
    replicas: {{ .Values.replicaCount }}
    selector:
      matchLabels:
        app: {{ include "helm.name" . }}
    template:
      metadata:
        labels:
          app: {{ include "helm.name" . }}
      spec:
        containers:
          - name: {{ .Chart.Name }}
            image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            ports:
              - containerPort: 8080
